* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #461a42;
    color: #f3f3f3;
}
/* navbar */
.logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0px;
    color: #f3f3f3;
  }
  .logo span {
    color: #fcc822;
  }
  .nav-item {
    font-size: 14px;
  }
  .nav-link {
    color: #f3f3f3;
    text-decoration: none;
  }
  .nav-item button {
    font-size: 14px;
  }
  .nav-item a:hover {
    color: #fcc822;
    text-decoration: underline;
    transition: 0.3s;
  }
  .logo:hover {
    color: white;
  }
  .navbar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  /* navbar end */
input[type="radio"] {
    /* background-color: #fcc822; */
    /* display: none; */
    visibility: hidden;
  }

input[type="radio"]:checked + label {
    background-color: #fcc822;
}
.answer {
    width: 100%;
    height: 50px;
    margin: 3px;
}